#myCard {
  border: none;
  box-shadow: none;
  margin-bottom: 10px;
  padding: 3px;
}

#myCard:hover {
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 30%);
}

#imageCard {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
